.section{
  
  width: 100%;
    min-height: 100vh;
    background: rgb(227, 255, 124);
    color:rgb(36, 34, 33);
}
.blog-wrapper{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
   align-items: center;
   float:50%;
}
.blog-img{
    width:440px;
    height:550px;

}
